h2 {
  opacity: 0;
  display: none;
  visibility: hidden;
}

img {
  transition: 2.5s;
}

input:checked ~ img {
  /* display: none; */
  /* biến mất khỏi giao diện không chiếm vị trí */

  /* visibility: hidden; */
  /* biến mất khỏi giao diện vẫn chiếm vị trí */

  opacity: 0;
  /* làm mờ đi vẫn chiếm vị trí */
}
/* 
h1 {
  color: red;
}

#duyid {
  color: blue;
}
.duyclass {
  color: green;
} */

* {
  color: rgb(100, 28, 28);
}
