/* style có thể viết trong head của html */

/* <link rel="stylesheet" href="____.css">  */

h1{
    color: white;
}
h2{
    color:red;
    /* màu chữ color */
    font-style:italic;
    /* chữ in nghiêng như nào*/
    font-family: 'Courier New', Courier, monospace;
    /* font chữ */
    text-transform:uppercase;
    /* chữ in hoa */
    text-align:center;
    /* canh giữa */
    background-color: black;
    /* màu nền background-color */
}
.xanhla{
        color:green;
}
.duy{
    color: blue;
}




