body {
    font-family: Arial, sans-serif;
}

.terms-link {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

/* bảng điều khoản */
.terms-box {
    display: none;
    margin-top: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
}

/* phần scroll */
.terms-content {
    max-height: 200px;
    overflow-y: auto;
}
